DrawingSomeTanks/obj/DrawingSomeTanks.csproj.nuget.dgspec.json
DrawingSomeTanks/obj/DrawingSomeTanks.csproj.nuget.g.props
DrawingSomeTanks/obj/DrawingSomeTanks.csproj.nuget.g.targets
DrawingSomeTanks/obj/project.assets.json
DrawingSomeTanks/obj/project.nuget.cache
DrawingSomeTanks/obj/Debug/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
DrawingSomeTanks/obj/Debug/net6.0/apphost
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.AssemblyInfo.cs
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.AssemblyInfoInputs.cache
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.assets.cache
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.csproj.AssemblyReference.cache
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.csproj.CopyComplete
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.csproj.CoreCompileInputs.cache
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.csproj.FileListAbsolute.txt
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.dll
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.GeneratedMSBuildEditorConfig.editorconfig
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.genruntimeconfig.cache
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.GlobalUsings.g.cs
DrawingSomeTanks/obj/Debug/net6.0/DrawingSomeTanks.pdb
DrawingSomeTanks/obj/Debug/net6.0/ref/DrawingSomeTanks.dll
DrawingSomeTanks/obj/Debug/net6.0/refint/DrawingSomeTanks.dll
DrawingSomeTanks/Tank.cs
DrawingSomeTanks/bin/Debug/net6.0/DrawingSomeTanks
DrawingSomeTanks/bin/Debug/net6.0/DrawingSomeTanks.deps.json
DrawingSomeTanks/bin/Debug/net6.0/DrawingSomeTanks.dll
DrawingSomeTanks/bin/Debug/net6.0/DrawingSomeTanks.pdb
DrawingSomeTanks/bin/Debug/net6.0/DrawingSomeTanks.runtimeconfig.json
DrawingSomeTanks/bin/Debug/net6.0/Sayers.SDL2.Core.dll
